.slimlist
  background-color: #eee
  display: flex
  flex: 0 0 auto
  flex-direction: column
  height: calc(100% - 80px)
  padding-left: 8px

  .item
    margin: 10px 8px 0 0

  .letter
    font-weight: bold
