.editor
  display: flex
  width: 100%

.noteinput
  background-color: red
  flex: 1 0 0
  overflow-y: scroll

  .input
    height: 100%
    width: 100%

.notepreview
  background-color: #fff
  flex: 1 0 0
  overflow-y: scroll
  height: 100%
