.pane
  flex: 0 0 290px
  height: 100%
  overflow-y: scroll

  .title
    margin-top: 0

  .notetext
    flex: 1 0 100%
    font-size: 12px
    margin-top: 0

  .add-new-note
    flex: 0 0 auto

  .notebook-title
    display: inline-flex
    width: auto

